<% layout('layout/boilerplate.ejs') %>
<!-- <%- include('../partials/flash.ejs') %> -->
<%if(success && success.length){%>
  <%- include('../partials/flash.ejs') %>
<%}%>
<div class="product-list d-flex flex-wrap justify-content-center gap-4">
    <%for(let product of products){%>
        <div class="card" style="width: 18rem;">
            <img src="<%=product.image%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=product.name%></h5>
              <h5 class="card-title"><%=product.price%></h5>
              <p class="card-text"><%=product.desc%></p>
              <a href="/products/<%=product._id%>" class="btn btn-primary">Show</a>
              <form class="d-inline-block" action="/user/cart/<%=product._id%>/add" method="post">
                <button  class="btn btn-success ">Add to cart</button>
              </form>
            </div>
          </div>
    <%}%>
</div>