<% layout('layout/boilerplate.ejs') %>

<div class="row">
    <div class="col-lg-6 col-12 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="<%=product.image%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=product.name%></h5>
              <h5 class="card-title"><%=product.price%></h5>
              <p class="card-text"><%=product.desc%></p>
              <a href="/products/<%=product._id%>" class="btn btn-primary">Show</a>
            </div>
          </div>
    </div>
    <div class="col-lg-6 col-12">
        <h1>All Review</h1>
        <form>
          <input type="range" min="0" max="5" name="rating">
          <textarea class="form-control" name="comment"></textarea>
          <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>