<% layout('layout/boilerplate.ejs') %>

<div class="newProductForm">
  <form action="/product/<%=product._id%>/edit" method="post">
    <div class="mb-3">
      <label for="name" class="form-label">Product name</label>
      <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" value="<%=product.name%>">
     </div>
    <div class="mb-3">
      <label for="image" class="form-label">Product image</label>
      <input type="text" class="form-control" id="image" name="image"  value="<%=product.image%>">
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Product Price</label>
        <input type="text" class="form-control" id="price" name="price" aria-describedby="emailHelp"  value="<%=product.price%>">
       </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Product Desc</label>
        <input type="text" class="form-control" id="desc" name="desc"  value="<%=product.desc%>">
      </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>